<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
    <a class="navbar-brand" href="#">Angular HTTP</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li [routerLinkActive]="'active'" class="nav-item">
                <a [routerLink]="['/study-http']" class="nav-link" href="#">Study Angular HTTP</a>
            </li>
            <li [routerLinkActive]="'active'" class="nav-item">
                <a [routerLink]="['/github']" class="nav-link" href="#">Github</a>
            </li>
            <li [routerLinkActive]="'active'" class="nav-item">
                <a [routerLink]="['/spotify']" class="nav-link" href="#">Spotify</a>
            </li>
            <li [routerLinkActive]="'active'" class="nav-item">
                <a [routerLink]="['/course-list']" class="nav-link" href="#">Course Lists</a>
            </li>
            
        </ul>
        
    </div>
</nav>



<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
